<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
#container{
	margin: auto;
	border: solid;
	width: 70%;
	padding: 10px;
}
.sub {
	background-color: black;
	color: white;
}
	</style>
</head>
<body>

<h2>Editing a entry in <%= @project.id %> project</h2>
<%= render 'form' %>

</body>
</html>