<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>site view</title>
</head>
<body>
	<h1>welcome to this timetrack tool</h1>
	<p>Ironhack powered</p>
   <%= link_to("contributors",people_path) %>
  <%= link_to("projects",projects_path) %>
</body>
</html>