form {
	text-align: center;
	width: 300px;
}

input {
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;

}
textarea {
	width: 80%;
	margin-top: 10px;
}

form button {
	background-color: black;
	color: white;
}