<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
<link rel="stylesheet" href="style.css"/>
</head>
<body>

<form action="/new_data" method="post">

		
	<label for="title">TITLE</label>
	<br>
	<input name="title" type="text" placeholder="name of the post">
		
	</div>
	<div>
		
	<label for="text">CONTENT</label>
	<br>
	<textarea name="text" placeholder="the text of the post"></textarea>
		
	

	<button type="submit" name="new" value="post_created">CREATE</button>
	

</form>


</body>
</html>

</body>
</html>









