<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
<link rel="stylesheet" href="style.css"/>
</head>
<body>
<ul>
										
	
	<li>
		<p>titulo del post: &nbsp&nbsp<%= @this_post.title %>
			<span><%= @this_post.text %>&nbsp&nbsp
		</span>
			<span>fecha de creacion &nbsp&nbsp<%= @this_post.creation_date %></span> 
		</p> 
		
	</li>
	

</ul>
<form action="/" method="get">
	<button type="submit">VOLVER</button>
</form>


</body>
</html>

</body>
</html>









