<div id="form-bids">
  <h2>Make a bid!</h2>
  <form action="/users/<%= @user.id %>/products/<%= @product.id %>/bids" method="POST">
    <div>
      <label for="user_email">Email</label>
      <input type="email" name="user[email]" id="user_email">
    </div>
  	
    <div>
      <label for="user_bid">Bid</label>
      <input type="text" name="user[bid]" id="user_bid">
    </div>


    <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
          
    <button type="submit">Make a bid for this Item</button>
  </form>
</div>