<h1>PRODUCT LIST OF <%= @user.name.upcase %></h1>
<hr>
<ul>
  <% @products.each do |product| %>
      <li><%= link_to(product.title,user_product_path(@user.id,product.id),class: "my-links") %></li>
  <% end %>
</ul>