<h1>PRODUCT LIST</h1>
<hr>
<ul>
  <% @products.each do |product| %>
      <li>
        <%= link_to(product.title,user_product_path(product.user_id,product.id),class: "my-links") %> - 
        <%= product.description %> - DEADLINE TO BID:&nbsp;&nbsp;&nbsp;
        <%= product.deadline.strftime("%d/%m/%Y") %>
      </li>
  <% end %>
</ul>