<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
#container{
	margin: auto;
	border: solid;
	width: 70%;
	padding: 10px;
}
.sub {
	background-color: black;
	color: white;
}
	</style>
</head>
<body>

<h1>Add a new user!!!!!!</h1>
<div id="container">
	<%= form_for [@person] do |f| %>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
		<%= f.submit 'CREATE USER',class: 'sub' %>
	<% end %>
</div>


</body>
</html>






