<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
<ul>
	<li>
		<%= @project.name %>&nbsp;
	</li>
	<li>
		<%= @project.description %>
	</li>
</ul>

</body>
</html>